@model Library.Models.User

<div class="row justify-content-center">
    <div class="col-md-6 shadow-sm p-4 border rounded bg-light">
        <h2 class="text-center">Załóż konto</h2>
        <hr />
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group mb-3">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6 form-group mb-3">
                    <label asp-for="FirstName" class="control-label">Imię</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group mb-3">
                    <label asp-for="LastName" class="control-label">Nazwisko</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Hasło</label>
                <input type="password" name="plainPassword" class="form-control" required />
            </div>

            <div class="form-group d-grid">
                <button type="submit" class="btn btn-success">Zarejestruj się</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}